dist: xenial

sudo: required

# language: python

python:
  - "3.7"
#  - "3.8-dev"  # 3.8 development branch
#  - "nightly"  # nightly build

install:
  - pwd
  - pip install --user -r requirements.txt
  - pip install --user -r requirements-dev.txt
  - pip install --user .
  - mkdir ~/.cloudmesh
  - cp cloudmesh/etc/cloudmesh.yaml ~/.cloudmesh

script: pytest -v tests/test_tables.py