include __init__.py
include requirements.txt
include cloudmesh/common/etc/cloudmesh.yaml
include cloudmesh/__init__.py

exclude .gitignore
exclude .gitreview
include VERSION
include *.md
include LICENSE
include requirements-dev.txt
